{% extends "polls/base.html" %}
{% load static %}

{% block title%}
Orbital | Login
{% endblock %}

{% block styles %}
{{ block.super }}
<!-- icheck bootstrap -->
<!-- <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}"> -->
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}

{% block script %}
{{ block.super }}
<!-- <script src="{% static 'custom/global.js' %}"></script> -->
<script src="{% static 'custom/login.js' %}"></script>
{% endblock %}

{% block body %}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Orbital</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control input-user" placeholder="Email / Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control input-pass" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block submit-btn">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    {{ block.super }}
</body>
<!-- /.login-box -->
{% endblock %}